{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "8.11"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": ["transform-inline-environment-variables"]
}
